.git
.github
.env
.env.*
!.env.docker.example
node_modules
public/build
!public/build/
!public/build/**
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.override.yml
tailadmin-laravel.png